<div class="row">
  <div class="col-xs-5 left-bar">
    <div class="col-xs-12 basic-info">
      <img src="{{candidate.avatar}}" class="avatar" width="140" />
      {{#if candidate.favorited}}
      <button class="button-favorite active" {{action 'removeFavorite'}}>
        <span class="glyphicon glyphicon-star"></span> Favorito
      </button>
      {{else}}
      <button class="button-favorite" {{action 'addFavorite'}}>
        <span class="glyphicon glyphicon-star-empty"></span> Favoritar
      </button>
      {{/if}}
      <div class="col-xs-12 favorited-phrase">
        {{{favoritedPhrase}}}
      </div>
      <div class="col-xs-12 otherinfo-c">
        <div class="info-c placement-c">
          <span class="cell glyphicon glyphicon-map-marker"></span>
          <span class="cell {{unless candidate.address 'disabled'}}">
            {{#if candidate.address}}
              {{candidate.address}}
              {{#if candidate.distance}}
                {{#if (lt candidate.distance 1000)}}
                  <br/>
                  ({{format-number value=candidate.distance n=2}}km)
                {{/if}}
              {{/if}}
            {{else}}
              Não informado
            {{/if}}
          </span>
        </div>
        <div class="info-c age-c">
          <span class="cell glyphicon glyphicon-gift"></span> 
					<span class="cell {{unless candidate.age 'disabled'}}">{{if candidate.age candidate.age 'Não informado'}} anos</span>
        </div>
        <div class="info-c phone-c">
          <span class="cell glyphicon glyphicon-phone-alt"></span> 
					<span class="cell {{unless candidate.telephone 'disabled'}}">
            {{#if (format-telephone candidate.telephone)}}
              {{format-telephone candidate.telephone}}
            {{else}}
              Não informado
            {{/if}}
          </span>
        </div>
        <div class="info-c phone-c">
          <span class="cell glyphicon glyphicon-earphone"></span> 
					<span class="cell {{unless candidate.cellphone 'disabled'}}">
            {{#if (format-telephone candidate.cellphone)}}
              {{format-telephone candidate.cellphone}}
            {{else}}
              Não informado
            {{/if}}
          </span>
        </div>
        <div class="info-c email-c">
          <span class="cell glyphicon glyphicon-envelope"></span> 
					<span class="cell"><a href="mailto:{{candidate.email}}" class="email-link">{{candidate.email}}</a></span>
        </div>
        <div class="info-c profile-c">
          <span class="cell glyphicon glyphicon-list"></span> 
					<span class="cell"><a href="//trampos.co/{{candidate.slug}}" target="_blank">Perfil</a></span>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 basic-info">
      <h3>Origem</h3>
      <div class="col-xs-12 otherinfo-c">
        <div class="block">
          
          {{#each sources as |source|}}
						{{#if (eq source.type 'company_apply')}}
            <div class="item pointer company-apply" {{action 'openCompanyModal'}}>
              <div class="title-opportunity">
                <strong class="source-title">Registro de interesse</strong>
                <i class="glyphicon glyphicon-chevron-right arrow"></i><br />
              </div>
              <span class="oppRow">
                <span class="created_at">{{moment-from-now source.data.created_at hideSuffix=true}}</span>
              </span>
            </div>
              {{!-- <div class="item pointer company-apply" {{action 'openCompanyModal'}}>
                <strong class="source-title">Registro de interesse</strong>
                <span class="oppRow">
                  <span class="created_at">{{moment-from-now source.data.created_at hideSuffix=true}}</span>
                </span>
              </div> --}}

						{{else if (eq source.type 'apply')}}
		          <div class="item pointer" {{action 'openApplyModal' source.data.id}}>
	              <div class="title-opportunity">
                  <strong class="source-title">{{source.data.opportunity}}</strong>
                  <i class="glyphicon glyphicon-chevron-right arrow"></i><br />
                </div>
	              <span class="oppRow">
	                <span class="created_at">{{moment-from-now source.data.created_at hideSuffix=true}}</span>
	                <span class="rating">
	                  {{#if source.data.rating}}
	                    {{source.data.rating}}
	                    <i class="glyphicon glyphicon-star"></i>
	                  {{else}}
	                  	0
	                  	<i class="glyphicon glyphicon-star-empty"></i>
	                  {{/if}}
	                </span>
	                <span class="status">
										{{#if source.data.status}}
											{{t (concat "apply_statuses." source.data.status)}}
										{{else}}
											-	
										{{/if}}
									</span>
	              </span>
		          </div>
						{{/if}}
						<hr />
					{{else}}
          	<div class="item pointer-readonly">
            	<b>Banco de talentos do trampos.co</b>
          	</div>
        	{{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-7 right-bar">
		<div class="full-info">
	    <h4 class="favoriteArea">
	      {{#if candidate.favorited}}
	      <span><span class="glyphicon glyphicon-star"></span> Favoritos</span>
	      {{/if}}
	    </h4>
	    <h2 class="name-c">{{candidate.name}} {{candidate.lastname}}</h2>
	    <h3 class="profissao-c">{{candidate.subtitle}}</h3>
   
      {{#if candidate.fields_of_work}}
      <div class="block-inset">
        <b>Especialidades</b>
        {{#each candidate.fields_of_work as |field|}}
          <span class="tag salmon">{{field}}</span>
        {{/each}}
      </div>
      {{/if}}
			
      {{#if candidate.skills}}
      <div class="block-inset">
        <b>Habilidades</b>
        {{#each candidate.skills as |field|}}
          <span class="tag orange">{{field}}</span>
        {{/each}}
      </div>
      {{/if}}
			
      {{#if candidate.languages}}
      <div class="block-inset">
        <b>Idiomas</b>
        {{#each candidate.languages as |field|}}
          <span class="tag blue">{{field}}</span>
        {{/each}}
      </div>
      {{/if}}
			
      {{#if candidate.availabilities}}
      <div class="block-inset">
        <b>Disponibilidade</b>
        {{#each candidate.availabilities as |field|}}
          <span class="tag green">{{t (concat "availabilities." field)}}</span>
        {{/each}}
      </div>
      {{/if}}
			
      {{#if candidate.experiences}}
      <div class="block-inset">
        <b>Últimas experiências</b>
        {{#each candidate.experiences as |field index|}}
          <div class="item">- {{field.company}} | {{field.position}}</div>
        {{/each}}
      </div>
      {{/if}}
			
      {{#if candidate.educations}}
        <div class="block-inset">
          <b>Educação</b>
          {{#each candidate.educations as |field index|}}
            <div class="item">- {{field.college}} | {{field.course}}</div>
          {{/each}}
        </div>
      {{/if}}
			
	    <div class="atualizado">
	      <b>Curriculo atualizado há</b> {{moment-from-now candidate.last_updated_at hideSuffix=true}}
	    </div>
		</div>
  </div>
</div>