{{#each content as |item index|}}
	{{#facet-list-item visible=(lt index visibleItems)}}
		{{yield item}}
	{{/facet-list-item}}
{{/each}}
{{#if showMoreLink}}
	{{#if hiddenFacets}}
		<li class="less-link">
		  <a {{action "hideHiddenFacets"}}>menos</a>
		</li>
	{{else}}
		<li class="more-link">
		  <a {{action "showHiddenFacets"}}>mais {{hiddenFacetsLength}}...</a>
		</li>
	{{/if}}
{{/if}}
