{{#each content as |item index|}}
	{{#if (gt index maxVisibleIndex)}}
		{{#if showMore}}
			{{yield item}}
		{{/if}}
	{{else}}
		{{yield item}}
	{{/if}}
{{/each}}

{{#if showMoreLink}}
	{{#if showMore}}
	  <a {{action 'hideMore' content}} class="viewmore">ver menos</a>
	{{else}}
	  <a {{action 'viewMore' content}} class="viewmore">ver mais</a>
	{{/if}}
{{/if}}
