<div class="geolocation-picker-inner">
	{{#if isReady}}
		<div class="geo active" {{action "pick"}}>
			{{#if (and value (not picking))}}
				<div class="info">
					{{#if address.isPending}}
						<div class="address">LOCAL SELECIONADO</div>
					{{else}}
						<div class="address">{{address.content}}</div>
					{{/if}}
				</div>
			{{else}}
				<span class="placeholder">Escolha uma localização</span>
			{{/if}}
		</div>
	{{else}}
		<div class="geo activating" {{action "pick"}}>
			Ativando...
		</div>
	{{/if}}

	{{#if picking}}
		<div class="cdb-modal">
		  <div class="cdb-modal-inner">
				<div class="cdb-modal-container geolocation">

				<div class="header bar-candidate geolocation">
				  {{!-- <i {{action 'closeModal'}} class="glyphicon glyphicon-remove"></i> --}}
				</div>

					<div class="geolocation-picker-map-container row">
						<div class="geolocation-picker-sidebar col-xs-6">
							<div class="input-geolocation">
								<input type="text" id="geolocation-picker-input-places" class="geolocation-picker-input-places" placeholder="Digite o endereço da empresa" />
							</div>
							{{#if predictions}}
							<h4 class="title-list">
								Resultados
								<small {{action "resetSearch"}}>cancelar busca</small>
							</h4>
							<div class="places-list">
								{{#each predictions as |prediction|}}
									<div class="places-item" {{action "selectPrediction" prediction}}>
										<h4 class="place-title">{{prediction.title}}</h4>
										<span class="text">{{prediction.text}}</span>
									</div>
								{{/each}}
								<div align="right"><img class="rights-img" src="https://developers.google.com/places/documentation/images/powered-by-google-on-white.png"></div>
							</div>
							{{else}}
							<h4 class="title-list">
								Sugestões
							</h4>
							<div class="places-list">
								{{#each suggestions as |suggestion|}}
									<div class="places-item" {{action "selectSuggestion" suggestion}}>
										<h4 class="place-title">{{suggestion.title}}</h4>
										<span class="text">{{suggestion.address}}</span>
									</div>
								{{/each}}
								<div align="right"><img class="rights-img" src="https://developers.google.com/places/documentation/images/powered-by-google-on-white.png"></div>
							</div>
							{{/if}}
						</div>
						<div class="wrap-map-picker col-xs-6">
							<div class="container-map">
								<div class="box-current-location">
									<p class="current-location-address">{{address.content}}</p>
									<button class="define-location-button" {{action "defineLocation"}}>
										Escolher este endereço
									</button>
								</div>
								<div class="geolocation-picker-marker">
									<span class="glyphicon glyphicon-map-marker"></span>
								</div>
								<div id="geolocation-picker-map" class='geolocation-picker-map'></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	{{/if}}
</div>
