<h2 class="title-steps">
	Selecione a(s) vaga(s) que você deseja notificar:
</h2>

{{#facet-list class="opportunity-list" content=opportunities visibleItems=item.length as |item|}}
	{{#checkbox-field checked=item.selected class="item" tagName="div"}}
		<div class="cell info-opportunity">
			<div class="row-info">{{item.name}}</div>
			<div class="row-info">
				<span class="info-item">{{moment-from-now item.published_at hideSuffix=true}}</span>
        <span class="info-item"><strong>ID:</strong> {{item.id}}</span>
			</div>
		</div>
		<div class="cell check-opportunity"></div>
	{{/checkbox-field}}
{{/facet-list}}