<div class="paging">
	<div class="row">
		<div class="col-xs-12">
			{{#if visiblePages}}
				{{#unless (eq pages.current 1)}}
					<span class="btn" {{action "prevPage"}}><span class="glyphicon glyphicon-chevron-left"></span></span>
				{{/unless}}
				{{#each visiblePages as |page|}}
					<span class='page {{if page.current "btn btn-success" "btn"}}' {{action "gotoPage" page.number}}>{{page.number}}</span>
				{{/each}}
				{{#unless (eq pages.current pages.total)}}
					<span class="btn" {{action "nextPage"}}><span class="glyphicon glyphicon-chevron-right"></span></span>
				{{/unless}}
			{{/if}}
		</div>
	</div>
</div>
