<div class="row salary-range">
	<div class="label-cols cols">De: </div>
	<div class="input-cols cols">{{select-field optionsArray=startRangeOptions value=startRangeValue}}</div>
	<div class="label-cols cols">Até: </div>
	<div class="input-cols cols">{{select-field optionsArray=endRangeOptions value=endRangeValue}}</div>
</div>
{{!-- <select>
	{{#each startRangeOptions as |option|}}
		<option value="{{option.value}}" {{if option.selected 'selected'}}>{{option.text}}</option>
	{{/each}}	
</select>

<select>
	{{#each endRangeOptions as |option|}}
		<option value="{{option.value}}" {{if option.selected 'selected'}}>{{option.text}}</option>
	{{/each}}	
</select> --}}