<form class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-4 control-label">Ordenar por:</label>
    <div class="col-sm-7">
      {{select-field optionsArray=sortOptions value=value change="sort"}}
    </div>
  </div>
</form>
