@mixin trampos-button($bg, $color, $extrude) {

  display:inline-block;
  font-family: $slab;
 	color: $color;
 	background-color: $bg;
 	border-color: transparent;
  box-shadow: inset 0 (-$extrude) 0 darken($bg, 8%);
 	position: relative;
 	border: none;
 	padding: 0 15px;
 	outline: none;
 	border-radius: 8px;
 	-webkit-backface-visibility: hidden; // Chrome Flicker Fix
  text-decoration:none;

  &:active,
  &.active {
    outline: 0;
    -webkit-backface-visibility: hidden; // Chrome Flicker Fix
    -webkit-transition: .075s;
       -moz-transition: .075s;
        -ms-transition: .075s;
         -o-transition: .075s;
            transition: .075s;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($bg, 4%);
  }
}