@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

$slab: "Roboto Slab", serif;

$black-color: #2c2626;
$lead-color: #494140;
$light-lead-color:#7b7979;
$red-color: #dd765f;
$green-color: #5FBA86;
$yellow-color: #e2d000;
$pink-color: #ee2a58;

$trainee-color: #e1ce00;
$emprego-color: #54c4c8;
$freelance-color: #ed5d70;
$estagio-color: #e98c46;
$premium-color: #fff29b;

$grey-color:#AFB3B3;
$grey1-color:#dddcd3;
$grey2-color:#ebeae3;

$white: #fff;
$grey: #9b9b9b;
$purple-dark: #261922;
$purple-light: #2c1f28;
$light-grey: #e1dfe0;
$blue: #54C4C8;
$blue-dark: #4AACB0;
$salmon: #ec5f70;
$salmon-dark: #c35766;
$grey-lighter: #F6F6F6;
$orange: #E78B44;
$facebook-color: #3b5998;

$form-spacing: 10px;

@import "mixins/all";
@import "bootstrap";
@import "trampos-icons.scss";
@import "modals/all";
@import "components/all";

html.noScroll, body.noScroll {
  overflow: hidden;
  padding-right: 7.5px;
}


.boxshadow {
  box-shadow: 0px 3px 0px $light-grey;
}

.radius {
  border-radius: 8px;
}

.input-format {
  @extend .radius;
  height: 36px;
  line-height: 34px;
  background: $white;
  padding: 0px 10px;
  border: 0px;
  font-size: 16px;
}

.button-default {
  @include trampos-button(#FF0000, #FFF, 5px);
}

a {
  color: $blue-dark;
}

a:hover {
  color: $blue-dark;
}

select.form-control {
 box-shadow: none;
}

body { padding:0; font-family:'Source Sans Pro'; background: $purple-dark; }

input, select {
  outline: none;
  border: none;
}

.irs {
  .irs-line {
    height: 14px;
    top: 12px;
    .irs-line-left {
      height: 14px;
      background: $blue;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .irs-line-mid {
      height: 14px;
      background: $white;
    }
    .irs-line-right {
      height: 14px;
      background: $white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  .irs-bar {
    height: 14px;
    top: 12px;
    background: $blue;
  }
  .irs-bar-edge {
    height: 14px;
    background: none;
    top: 12px;
  }
  .irs-slider.single {
    background: $blue;
    border: 7px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    top: 8px;
  }
  span.irs-min, span.irs-max,
  span.irs-from, span.irs-to,
  span.irs-single {
    top: 34px;
    background: none;
    font-size:11px;
    font-weight: bold;
  }
}

.logo { margin-bottom:10px; }

.types-tabs {
	label {
		// font-size:.9em;
		// font-weight:400;
		// font-style:italic;
		// cursor:pointer;
		// margin:0 10px 0 0;
		// padding-bottom:10px;
		// position:relative;

		&:hover {
			color:$green-color;
		}
		&.selected {
			color:$green-color;
			&:after {
				position:absolute;
				left:50%;
				margin-left:-7px;
				bottom:0;
				content:"";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7.5px 5px 7.5px;
				border-color: transparent transparent $green-color transparent;
			}
		}
	}
}
