@charset "UTF-8";

@font-face {
  font-family: 'tramposco';
  src:url('/fonts/tramposco.eot');
  src:url('/fonts/tramposco.eot?#iefix') format('embedded-opentype'),
    url('/fonts/tramposco.woff') format('woff'),
    url('/fonts/tramposco.ttf') format('truetype'),
    url('/fonts/tramposco.svg#tramposco') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-trampos {
	vertical-align:middle;
	display:inline-block;

	&:before {
	  font-family: "tramposco" !important;
	  font-style: normal !important;
	  font-weight: normal !important;
	  font-variant: normal !important;
	  text-transform: none !important;
	  speak: none;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	&.icon-trampos-award:before {
	  content: "\e00e";
	}
	&.icon-trampos-award-circle:before {
	  content: "\e00f";
	}
	&.icon-trampos-alert-circle:before {
	  content: "\e000";
	}
	&.icon-trampos-contact-circle:before {
	  content: "\e001";
	}
	&.icon-trampos-drag-drop:before {
	  content: "\e002";
	}
	&.icon-trampos-education:before {
	  content: "\e003";
	}
	&.icon-trampos-education-circle:before {
	  content: "\e004";
	}
	&.icon-trampos-error-circle:before {
	  content: "\e005";
	}
	&.icon-trampos-experience:before {
	  content: "\e006";
	}
	&.icon-trampos-experience-circle:before {
	  content: "\e007";
	}
	&.icon-trampos-hidden-circle:before {
	  content: "\e008";
	}
	&.icon-trampos-language:before {
	  content: "\e009";
	}
	&.icon-trampos-language-circle:before {
	  content: "\e00a";
	}
	&.icon-trampos-link:before {
	  content: "\e00b";
	}
	&.icon-trampos-link-circle:before {
	  content: "\e00c";
	}
	&.icon-trampos-ok-circle:before {
	  content: "\e00d";
	}
	&.icon-trampos-skill:before {
	  content: "\e010";
	}
	&.icon-trampos-skill-circle:before {
	  content: "\e011";
	}
	&.icon-trampos-visible-circle:before {
	  content: "\e012";
	}
	&.icon-trampos-writing-circle:before {
	  content: "\e013";
	}
	&.icon-trampos-premium:before {
	  content: "\e014";
	}
	&.icon-trampos-angle-double-down:before {
	  content: "\e015";
	}
}
