<div class="cdb-modal-header">
	<h2 class="alert-modal-title">
		Envio de alerta - relatório e envio - passo 2/2
	</h2>
	<i {{action 'close'}} class="glyphicon glyphicon-remove"></i>
</div>

<div class="cdb-modal-body">
	<div class="box">
		<h2 class="title-steps">
			Oportunidades selecionadas:
		</h2>
	
		{{#facet-list class="opportunities-list" content=opportunities visibleItems=item.length as |item|}}
			<div class="item disabled">
				<div class="cell check-opportunity col-xs-1"></div>
				<div class="cell opportunity-name col-xs-5">
					<span class="wrap-text">{{item.name}}</span>
				</div>
				<div class="cell date-publish col-xs-3">
					<label><small>Publicação</small></label>
					<span class="info-two-lines">
						{{moment-format item.published_at 'DD/MM/YYYY'}}
					</span>
				</div>
				<div class="cell col-xs-3">
					<label><small>ID</small></label>
					<span class="info-two-lines">#{{item.id}}</span>
				</div>
			</div>
		{{/facet-list}}
	</div>

	<div class="box">
		<h2 class="title-steps">
			Números deste envio
		</h2>
	
		<div class="info-notify-items">
			<div class="info-item">
				<strong>
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.total_found}}
					{{/preloaded-content}}
				</strong>
				<p>candidatos selecionados</p>
			</div>
			<div class="info-item">
				<strong>
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.already_sent}}
					{{/preloaded-content}}
				</strong>
				<p>já receberam notificação</p>
			</div>
			<div class="info-item">
				<strong>
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.alert_optout}}
					{{/preloaded-content}}
				</strong>
				<p>optaram não receber</p>
			</div>
			<div class="info-item">
				<strong>
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.already_applied}}
					{{/preloaded-content}}
				</strong>
				<p>já se candidataram</p>
			</div>
			<div class="info-item sending">
				<strong>
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.will_alert}}
					{{/preloaded-content}}
				</strong>
				<p>serão<br />enviadas</p>
			</div>
		</div>
	</div>

	<div class="box">
		<h2 class="title-steps">
			Saldo atualizado com este envio
		</h2>

		<div class="list-credits">

			<div class="row-list">
				<div class="cell">
					Crédito mensal
				</div>
				<div class="cell"></div>
				<div class="cell value">
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_credits.alerts_per_month}}
					{{/preloaded-content}}
				</div>
			</div>
			<div class="row-list">
				<div class="cell">
					Envios anteriores
				</div>
				<div class="cell"></div>
				<div class="cell value">
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_credits.alerts_sent}}
					{{/preloaded-content}}
				</div>
			</div>
			<div class="row-list">
				<div class="cell">
					Envio atual
				</div>
				<div class="cell"></div>
				<div class="cell value">
					{{#preloaded-content isLoading=alertInfo.isPending}}
						{{alertInfo.alert_report.will_alert}}
					{{/preloaded-content}}
				</div>
			</div>
			<div class="row-list">
				<div class="cell">
					Total após envio
				</div>
				<div class="cell">
					{{#if (lt alertInfo.total_after_send 0)}}
						<em>Você utilizará {{negativeTotal}} créditos adicionais</em>
					{{/if}}
				</div>
				<div class="cell value">
					<strong>
						{{#preloaded-content isLoading=alertInfo.isPending}}
							{{alertInfo.total_after_send}}
						{{/preloaded-content}}
					</strong>
				</div>
			</div>

		</div>
	</div>

	<div class="box">
		<h2 class="title-steps">
			Importante
		</h2>
		
		{{#preloaded-content isLoading=alertInfo.isPending}}
			{{#if canSubmit}}
				<div class="row-resume">
					<div class="cell">
						{{#if (gt alertInfo.wont_alert 0)}}
							Enviaremos <strong>{{alertInfo.alert_report.will_alert}}</strong> alertas de <strong>{{alertInfo.alert_report.total_found}}</strong> pois <strong>{{alertInfo.wont_alert}} candidatos</strong> saíram da lista pelos motivos: Já se candidataram, optaram por não receber mais e-mails de alertas ou já foram alertados.
						{{/if}}
					</div>
				</div>
			
				<div class="row-resume">
					<div class="cell number">
						<small>1</small>
					</div>
					<div class="cell">
						Os números estipulados acima podem passar por pequenas variações até o momento que o disparo for inciado. Caso a variação seja acima do estimado, isso não afetará seus créditos.
					</div>
				</div>
				{{#if (lt alertInfo.total_after_send 0)}}
				<div class="row-resume">
					<div class="cell number">
						<small>2</small>
					</div>
					<div class="cell">
						Você vai ultrapassar o limite de envios, utilizando mais créditos do que possui atualmente. {{!-- Vamos disponibilizar mais <strong>xxx</strong> créditos para que seja possível prosseguir. O valor de <strong>R$ xx</strong> será cobrado em sua próxima fatura. --}}
					</div>
				</div>
				{{/if}}
			{{else}}
				<div class="row-resume">
					<div class="cell">
						Todos os candidatos selecionados já se candidataram, optaram por não receber mais e-mails de alertas ou já foram alertados.
					</div>
				</div>
			{{/if}}
		{{/preloaded-content}}
	</div>

	<div class="button-area">
		<button class="prev" {{action 'back'}}>
			VOLTAR
		</button>
		{{#if canSubmit}}
			<button class="next" {{action "submit"}}>
				CONFIRME ESTE PROCESSO
			</button>
		{{/if}}
	</div>
</div>