
<div class="cdb-modal-header">
	<h2 class="alert-modal-title">
		Envio de alerta - seleção de oportunidades - passo 1/2
	</h2>
	<i {{action 'close'}} class="glyphicon glyphicon-remove"></i>
</div>

<div class="cdb-modal-body">
	
	<h2 class="title-steps">
		Selecione as oportunidades que quer divulgar:
	</h2>
	
	{{#if opportunities.isPending}}
		<div class="opportunities-list">
			<div class="item disabled loading">
				{{loader-overlay}}
			</div>
		</div>
	{{else}}
		{{#facet-list class="opportunities-list" content=sortedOpportunities visibleItems=item.length as |item|}}
			{{#unless item.scheduling_alert}}
				{{#checkbox-field checked=item.selected class="item" tagName="div"}}
					<div class="cell check-opportunity col-xs-1"></div>
					<div class="cell opportunity-name col-xs-5">
						<span class="wrap-text">{{item.name}}</span>
					</div>
					<div class="cell date-publish col-xs-3">
						<label><small>Publicação</small></label>
						<span class="info-two-lines">
							{{moment-format item.published_at 'DD/MM/YYYY'}}
						</span>
					</div>
					<div class="cell col-xs-3">
						<label><small>ID</small></label>
						<span class="info-two-lines">#{{item.id}}</span>
					</div>
				{{/checkbox-field}}
			{{else}}
				<div class="item disabled">
					<div class="cell check-opportunity col-xs-1"></div>
					<div class="cell opportunity-name col-xs-5">
						<span class="wrap-text">{{item.name}}</span>
					</div>
					<div class="cell col-xs-6">
						<label class="notificating">
							<small class="col-xs-6">Enviando notificações</small>
							<small class="col-xs-4">{{item.progress.value}} de {{item.progress.total}}</small>
							<small class="col-xs-2">
								{{#if item.progress.estimatedTimeLeft}}
									{{item.progress.estimatedTimeLeft.m}}:{{item.progress.estimatedTimeLeft.s}}
								{{else}}
									-
								{{/if}}
							</small>
						</label>
						<div class="process-bar">
							<span class="bar" style="width: {{item.progress.percentageValue}}%"></span>
						</div>
					</div>
				</div>
			{{/unless}}
		{{/facet-list}}
	{{/if}}

	<div class="button-area">
		<button class="prev" {{action 'close'}}>
			CANCELAR
		</button>

		<button class="next" disabled="{{if canProceed '' 'disabled'}}" {{action "next"}}>
			PROSSEGUIR
		</button>
	</div>
</div>