
<div class="cdb-modal-header">
	<h2 class="alert-modal-title">
		Envio de alerta - confirmação
	</h2>
	<i {{action 'close'}} class="glyphicon glyphicon-remove"></i>
</div>

<div class="cdb-modal-body">
	<div class="success-msg">
		<div class="icon {{if request.isPending 'loading'}}">
			<span class="glyphicon glyphicon-ok"></span>
		</div>
		<div class="msg">
			{{#if request.isPending}}
			 	<h3>Carregando</h3>
			{{else}}
				{{#if request.success}}
					<h3>Pronto!</h3>
					<p>Nosso sistema está enviado um e-mail para cada candidato.</p>
				{{else}}
					<h3>Ops!</h3>
					<p>{{request.error}}</p>
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{#unless request.isPending}}
	<div class="button-area">
		<button class="next" {{action 'close'}}>
			FECHAR
		</button>
	</div>
	{{/unless}}
</div>