{{search/section-tabs}}

<section class="section-form">
  <div class="container">
    <div class="filters-search">
      <div class="query-input">
        <div class="form-group col-xs-9">
          <label class="label-input">Buscar</label>
          {{input type="search" placeholder="Digite um nome, cargo, especialidade ou área..." value=search.query.term}}
        </div>
        
        <div class="form-group col-xs-3">
          <label class="label-input" for="atualizacao">Atualização</label>
          {{select-field optionsArray=newerThanDaysOptions value=search.query.newerThanDays}}
        </div>
        <div class="form-group col-xs-3">
          <label class="label-input" for="idade">Idade</label>
          {{select-field optionsArray=ageRangeOptions value=search.query.ageRange}}
        </div>
        <div class="form-group col-xs-3">
          <label class="label-input" for="geolocation">Geolocalização</label>
          {{geolocation-picker value=search.userGeo setUserGeo="setUserGeo"}}
        </div>
        <div class="form-group col-xs-3">
          <label class="label-input">Proximidade (em km)</label>
          {{log "userGeo" search.userGeo}}
          {{proximity-picker proximity=search.query.proximity disable=(if search.userGeo false true)}}
        </div>


        {{!-- <div class="form-group col-xs-3">
          <label class="label-input" for="uf">Estado</label>
          {{select-field optionsArray=stateOptions value=search.query.state}}
        </div> --}}

        <div class="form-group col-xs-3">
          <label class="label-input">&nbsp;</label>
          <button {{action "search"}} class="search-button">BUSCAR</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-content">
  <div class="container">
    {{#if search.isSearching}}
      {{loader-overlay}}
    {{/if}}

    <div class="results-header">
      <div class="row">
        <div class="col-xs-4 number">
          {{#if search.found}}
            <b>{{format-number value=search.found n=0}}</b> candidatos
          {{else}}
            <small>nenhum candidato</small>
          {{/if}}
        </div>
        <div class="col-xs-8 notify-box">
          <label>▸ &nbsp; Avise esses candidatos sobre sua(s) oportunidade(s) que está(estão) no ar!</label>
          <button class="notify-button button" {{action 'openNotifyModal'}} disabled="{{if (eq search.found 0) 'disabled'}}">
            Notificar
          </button>
        </div>
        
      </div>
    </div>
    
    {{#unless (and search.zeroResults nofilter)}}
    <div class="results-body">
      <div class="row">
        <div class="col-xs-9 results-list">
          {{#if (or search.isFiltering search.isChangingPage search.isSorting)}}
            {{loader-overlay}}
          {{/if}}
          
          {{!-- {{#if (gt search.found 0)}}
            {{search/notification-box totalCredits=1000 usedCredits=500 searchParams=search.params selectedCount=search.found openNotifyModal="openNotifyModal"}}
          {{/if}} --}}

          <div class="ordenation-box col-xs-12">
            <div class="col-xs-5 ordenation">
              {{sorting-box value=search.sort sort="sort"}}
            </div>
            {{#if search.found}}
            <div class="col-xs-7 pagination">
              {{paging-box pages=search.pages action="paginate"}}
            </div>
            {{/if}}
          </div>
          
        {{#if (gt search.found 0)}}
          {{#each results as |result|}}
            {{card-candidate candidate=result openApplyModal="openApplyModal" openCompanyModal="openCompanyModal"}}
          {{/each}}
          <div class="ordenation-box bottom col-xs-12">
            <div class="col-xs-12 pagination">
              {{paging-box pages=search.pages action="paginateAndScrollTop" classNames="pagination centered col-xs-12 bottom"}}
            </div>
          </div>
        {{/if}}

        
        </div>

        <div class="results-facets">
          {{search/facets/availability-facets content=facets.availabilities value=search.filterQuery.availabilities change="filter"}}

          {{search/facets/field-of-work-facets content=facets.fields_of_work value=search.filterQuery.fieldsOfWork change="filter"}}

          {{search/facets/skill-facets content=facets.skills value=search.filterQuery.skills change="filter"}}

          {{search/facets/language-facets content=facets.languages value=search.filterQuery.languages change="filter"}}

          {{search/facets/gender-facets content=facets.gender value=search.filterQuery.genders change="filter"}}
        </div>
        
      </div>
    </div>
    {{/unless}}
  </div>
</section>
