<h3>Você selecionou {{t "misc.candidates" count=selectedCount}} para notificar.</h3>
Total de créditos: <strong>{{bar-chart count=usedCredits total=totalCredits}}</strong>

{{#if (gt selectedCount availableCredits)}}
	<p>Você vai ultrapassar em <strong>{{offsetDebit}}</strong> os seus créditos com esse envio!</p>
{{/if}}

<button {{action "openNotifyModal"}}>Enviar notificação para os candidatos</button>