<div class="container">
  <ul class="tabs">
    <li>
      {{#link-to 'search.index'}}Todos os candidatos{{/link-to}}
    </li>
    <li>
      {{#link-to 'search.applies'}}Apenas candidaturas{{/link-to}}
    </li>
    <li>
      {{#link-to 'search.company_applies'}}Apenas registros de interesses{{/link-to}}
    </li>
    <li>
      {{#link-to 'search.favorites'}}<span class="glyphicon glyphicon-star"></span> &nbsp; Apenas favoritos{{/link-to}}
    </li>
  </ul>
</div>
