.card-candidate {
  padding: 30px 15px;
  margin-bottom:2px;
	background: $grey-lighter;

	.list, .list li { margin:0; padding:0; list-style-type:none; }

	.avatar {
		border-radius:50%;
		border:3px solid #eee;
		margin-top: 20px;
	}
	
  &.favorite {
    background: #F1FBFB;
    .tag {
      background: $white;
    }
    .left-bar {
      .favorited-phrase {
        color: $blue;
      }
    }
  }
	
  .left-bar {
    text-align: center;

    .favorited-phrase {
      color: #9a9f9f;
      padding-bottom: 20px;
    }
		
    .button-favorite {
			@include trampos-button($grey-color, #FFF, 4px);
			width:120px;
			height:45px;
			padding-bottom:2px;
			font-size:1em;
			font-weight:300;
			margin: 20px auto 10px;
		  &.active {
				background-color:$blue;
		    box-shadow: inset 0 4px 0 darken($blue, 8%);
		  }
    }
		
    .basic-info {
      padding: 0px 40px 0 40px;
      & > h3 {
        font-weight: bold;
        font-size: 1.3em;
        text-align: left;
				margin-top:20px;
				margin-left:8px;
        margin-bottom: 5px;
      }
    }
    .avatar {
      max-width: 170px;
      width: 100%;
    }
		
    .info-c {
			width:100%;
			display:table;
			table-layout:fixed;
      text-align: left;
      margin: 6px 0px;
      font-size: 14px;
			
      .cell {
				padding:2px 0;
        display: table-cell;
        vertical-align: top;
        &.disabled {
          color: #999999;
        }
				
				&:last-child { 
					font-size:1.05em;
				}

        &.glyphicon {
					width:40px; 
					text-align:center;
          font-size: 12px;
          color: #999;
					padding-top:4px;
					padding-right:5px;
        }
      }
			
      a {
        color: $black-color;
        text-decoration: underline;
				&.email-link {
					display:block;
					width:100%;
					overflow:hidden;
					text-overflow:ellipsis;
				}
      }
    }
		
    .otherinfo-c {
      background: $white;
      border-radius: 8px;
      margin-top: 10px;
      padding: 16px 16px;
      text-align: left;
			
      .block {
				
        hr {
          margin: 10px 0px;
          &:last-child {
            display: none;
          }
        }
        &:not(:first-child){
          margin-top: 10px;
        }
				
        .item {
          
          &.company-apply {
            b, strong {
              color: $salmon !important;
            }
          }
          &.company-apply:hover {
            .oppRow {
              color: $salmon;
            }
            .arrow {
              color: $salmon;
            }
          }
          &:not(.company-apply):hover {
            .oppRow {
              color: $blue;
            }
            .arrow {
              color: $blue;
            }
          }
          & > * {
            transition: 0.5s;
          }
          &.pointer {
            cursor: pointer;
          }
					
					.source-title {
						font-size:1.05em;
						font-weight:400;
					}
					
          .title-opportunity {
            display: table;
            width: 100%;
						margin-bottom:5px;
						
            b, strong {
              color: $blue;
              padding-right: 20px;
              display: table-cell;
              vertical-align: top;
            }
            .arrow {
              width: 20px;
              display: table-cell;
              color: #ccc;
              vertical-align: top;
							text-align:right;
							padding-top:3px;
							margin-right:-2px;
            }
          }
					
          .oppRow {
            display: table;
            width: 100%;
            margin-top: 0px;
            color: #2b2b2b;
            height: 20px;
            span {
              display: table-cell;
              font-size: 12px;
              &.created_at {
                width: 76px;
                padding-right: 5px;
              }
              &.rating {
                width: 30px;
                padding-right: 5px;
                i {
                  position: relative;
                  top: 2px;
                }
              }
              &.status {
                
                text-align: right;
                text-transform: uppercase;
              }
            }
          }       
        }
      }
    }
  }
	
	.right-bar {
		.full-info {
			padding-right: 40px;
		}
	}
	
  .favoriteArea {
    height: 30px;
    position: relative;
    font-size: 24px;
    color: $blue;
    font-weight: bold;
    font-family: $slab;
    margin-bottom: 10px;
    span.glyphicon {
      font-size: 18px;
    }
    & > span {
      position: relative;
      top: 0px;
    }
  }
	
  .name-c {
    font-size: 28px;
    color: $salmon;
    font-family: $slab;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .profissao-c {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 20px;
  }
  .block-inset {
    margin-top: 15px;
    b {
      display: block;
    }
    .tag {
      display: inline-block;
      padding: 0px 5px; height: 26px; line-height: 24px;
      border: 1px solid; margin: 10px 5px 0px 0px;
      border-radius: 4px;
      &.salmon {
        border-color: $salmon;
        color: $salmon;
      }
      &.green {
        border-color: $green-color;
        color: $green-color;
      }
      &.orange {
        border-color: $orange;
        color: $orange;
      }
      &.blue {
        border-color: $blue;
        color: $blue;
      }
    }
    a {
      text-decoration: underline;
      margin-top: 8px;
      display: inline-block;
      cursor: pointer;
    }
  }
  .atualizado {
    margin-top: 14px;
  }
}