button.checkbox-field {
	display:inline-block;
	position:relative;
	line-height:22px;
	cursor:pointer;
	width:22px;
	height:22px;
	padding:0;
	margin:0;
	vertical-align:middle;
	border:0;
	background-color:#fff;
	color:$green-color;
	
	&:before {
		font-family: 'Glyphicons Halflings';
  	font-weight: normal;
  	font-style: normal;
  	display: inline-block;
  	text-decoration: inherit;
  	position:absolute;
		left:5px;
		top:0px;
		font-size:10px;
		line-height:18px;
		content:"\e013";
		opacity:.1;
	}
	
	&.checked {
		border-color:$green-color;
		&:before {
			opacity:1;
		}
	}
}