footer {
  height: 92px;
  line-height: 92px;
  background: $purple-dark;
  color: $white;
  text-align: center;
  font-size: 12px;
  a {
    font-weight: bold;
    font-family: $slab;
    font-size: 14px;
    color: $white;
  }
}
