.geolocation-picker {

	.bar-candidate.geolocation {
		background: #fff;
	}

	.apply-modal-content.geolocation {
		max-height: 710px;
	}

	.geo {
		@extend .input-format;
		@extend .boxshadow;
		width: 100%;
		text-align: left;
		cursor: pointer;
		position:relative;
		line-height:36px;

		&:after {
			content:'\e031';
			font-family:'Glyphicons Halflings';
			position:absolute;
			right:0;
			top:0;
			width:30px;
			text-align:center;
			line-height:36px;
		}

		&.activating {
			font-weight:300;
			background: #ccc !important;
			color:#aaa;
		}

		&.active {
			background: #fff !important;

			.placeholder {
		    color: $grey-color;
		    font-weight:300;
		    font-style:italic;
			}
			.info {
				width:calc(100% - 30px);
				.address { overflow:hidden; text-overflow: ellipsis; white-space: nowrap; }
			}
		}
	}

	.geolocation-picker-map-container {
		
		margin: 0px;

		// position:fixed;
		// top:0px;
		// left:0px;
		// right:0px;
		// bottom:0px;
		z-index:20;
		background: #fff;

		.input-geolocation {
			padding: 0px;
			position: relative;
			&:before {
				content: '\e062';
		    position: absolute;
		    left: 15px;
		    top: 0px;
		    line-height: 42px;
		    font-family: 'Glyphicons Halflings';
		    color: #dddcd3;
			}
		}

		.wrap-map-picker {
			position:relative;
			padding:30px 50px 50px 10px;
			.container-map {
				position: relative;
			}
		}
		
		.geolocation-picker-sidebar {
			
			background-color:#FFF;
		
			height:670px;
			padding:30px 10px 50px 50px;
			position: relative;

			.title-list {
				font-weight: 700;
				font-family: $slab;
				font-size: 1.2em;
				margin-top: 30px;
				margin-bottom: 0px;
				small {
					float: right;
					font-size: .7em;
					cursor: pointer;
				}
			}
			
			.geolocation-picker-input-places {
				z-index:2;
				padding:20px 20px 20px 40px;
				box-shadow:none;
				box-shadow: 0px 4px 0px $grey1-color;
				border-radius:0;
				border-radius: 6px;
				background: #f5f5f5;
			}

			&:after {
				content: ' ';
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 100px;
			}
			
			.places-list {
				overflow-y: scroll;
				overflow-x: hidden;
				padding-right: 10px;
				height: 500px;
				padding-bottom: 20px;
				.places-item {
					border-radius:10px;
					padding:26px 20px;
					font-size:0.9em;
					margin:15px 0;
					cursor:pointer;
					background: #f5f5f5;
					.text {
						text-overflow: ellipsis;
						display: block;
				    overflow: hidden;
				    white-space: nowrap;
					}
					.place-title { margin:0 0 5px 0; font-family:$slab; font-weight: 800; font-size: 1em; }
					&:hover { background:$blue; color: #fff; }
				}
			}
		}

		.geolocation-picker-map {
			height:600px;
			border: 4px solid #f9f9f9;
		}

		.box-current-location {
			position: absolute;
			top: 30px;
			width: 70%;
			left: 15%;
			background: #fff;
			border-radius: 6px;
			padding: 20px 15px;
			z-index: 9999999;
			.define-location-button {
				@extend .input-format;
				width: 100%;
				background-color: $blue !important;
				box-shadow: 0px 4px 0px $blue-dark;
				border: 0px;
				color: #fff;
				font-family: $slab;
				font-weight: 700;
				text-align: center;
			}
		}

		.geolocation-picker-marker {
    	position: absolute;
	    top: calc(50% - 32px);
	    left: calc(50% - 15px);
	    z-index: 1;
	    color: $salmon;
	    text-align: center;
	    line-height: 32px;
	    width: 30px;
	    height: 32px;
	    padding: 0px;
	    font-size: 2em;
		}
	}

	.rights-img {
		height: 12px;
	}
}
