.language-level {
	padding:0;
	margin:0;
	margin-bottom:20px;
	height:13px;
	background-color: #fff;
	border-radius:10px;
	padding:4px;
	margin:15px 0 40px;
	position:relative;
	
	.level {
		display:block;
		position:absolute;
		width:5px;
		height:5px;
		background-color:$blue;
		padding:0;
		margin:0;
		margin-right:1px;
		border-radius:50%;
		cursor:pointer;

		&.selected {
			&:after {
				position:relative;
				display:block;
				z-index:1;
				content:"";
				background-color:$blue;
				margin-left:-2.5px;
				margin-top:-2.5px;
				width:10px;
				height:10px;
				border-radius:50%;
				-webkit-box-shadow: 0px 0px 0px 8px white;
				-moz-box-shadow: 0px 0px 0px 8px white;
				box-shadow: 0px 0px 0px 8px white;
			}
		}
		
		&.selected ~ .level {
			background-color:white;
		}
	}

	.level-overlay { 
		position:absolute;
		z-index:0;
		content:"";
		bottom:0px;
		top:0px;
		right:0;
		border-radius:10px;
		background-color:$blue;
	}
}