
.select-field { 
	color:$lead-color;
	border:1px solid #ccc;
	border-radius:4px;
	margin-bottom:$form-spacing;
	line-height:normal;
	line-height:18px;
	height:36px;
	position:relative;
	cursor:pointer;
	
	&.select-open { 
		background-color:$lead-color; 
		color:#fff;		
		z-index:20;
	}
	
	.select-option { padding:8px; }
	.select-selected {
		display:table;
		width:100%;
		height:100%;
		text-align:left;
		font-size:1em;
		margin:0;
		
		.select-selected-text,
		.select-selected-caret { display:table-cell; vertical-align:middle; }
		
		.select-selected-text { padding:0 10px; }
		
		.select-selected-caret {
			top:0; 
			width:2em;
			text-align:center;
		}
		
		.glyphicon { position:relative; line-height:36px; font-size:.9em; }
	}
	
	.select-options { 
		display:none;
		background-color:#FFF; 
		color:$lead-color;
		border:1px solid #dfdede; 
		overflow:hidden;
		overflow-y:scroll; 
		position:absolute;
		left:0;
		right:0;
		text-align:left;
		cursor:pointer;
		
		-webkit-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.24);
		-moz-box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.24);
		box-shadow: 0px 3px 20px -4px rgba(0,0,0,0.24);
		
		&.open { display:block; }
		.select-option { padding-left:25px; 
			&:hover { background-color:#eee; }
			&.selected { 
				&:before {
					font-family: 'Glyphicons Halflings';
			  	font-weight: normal;
			  	font-style: normal;
			  	display: inline-block;
			  	text-decoration: inherit;
			  	position:absolute;
					margin-left:-18px;
					font-size:12px;
					line-height:18px;
					content:"\e013";
				}
			}
		}
	}		
}