.search-skill-box {
	position: relative;
	.glyphicon {
		position: absolute;
	    left: 11px;
	    top: 11px;
	    font-size: 1em;
	    opacity: .3;
	}
	input {
		width: 100%;
		margin-bottom: 15px;
		@extend .input-format;
      	@extend .boxshadow;
		padding-left: 34px !important;
	}
}