header {
  height: 92px;
  line-height: 92px;
  background: $purple-dark;
  color: $white;
  a:hover {
    text-decoration: none;
  }
  .logo {
    float: left;
    color: $white;
    font-family: $slab;
    padding: 0px 10px 0px 0px;
    img {
      max-height: 92px;
      vertical-align: text-middle;
    }
    h2 {
      font-size: 24px;
      margin-left: 8px;
      display: inline;
      position: relative;
      top: -1px;
      // padding-left: 10px;
      vertical-align: middle;
      margin-right: 10px;
      font-weight: 300;
      &:before {
        border-left: 1px solid $white;
        content: ' ';
        display: inline-block;
        height: 20px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
    }
    span {
      opacity: 0.9;
    }
    b {
      opacity: 1;
    }
  }
  .right-header {
    float: right;
    & > a {
      color: $white;
      font-weight: bold;
      font-size: 16px;
      float: right;
      cursor: pointer;
      padding: 0px 10px;
      i {
        font-size: 11px;
      }
      &:hover {
        background: $purple-light;
      }
    }
  }
}
