.alert-modal {
	
	.cdb-modal-header {
	  background: #F1F1F1;

	  .glyphicon-remove {
	     position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1em;
      cursor: pointer;
      z-index: 9999999;
	  }
	}
	
  .alert-modal-title {
		font-weight: 700;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    margin: 0px;
    height: 32px;
    line-height: 32px;
    padding: 0px;
  }
	
	.cdb-modal-body {
	  background: #FFFFFF;
		padding:0px 40px 40px 40px;
	}
	
  .cdb-modal-container {
    width: 100%;
    display: block;
  }

  .cdb-modal-inner {
    transition: .5s;

    &.sucess-step {
      width: 500px;
    }

    .step-container {
      padding: 0px 50px;
			margin-bottom:30px;
      position: relative;
      overflow: hidden;
      width: 100%;
      z-index: 10;

      .title-steps {
        font-weight: 700;
        font-family: "Roboto Slab", serif;
        font-size: 1.2em;
        margin: 0px;
        height: 62px;
        line-height: 62px;
				margin-top:20px;
        padding: 0px;
      }

      .opportunities-list {
        width: 100%;
				
        .item {
          display: table;
					table-layout:fixed;
          height: 60px;
          width: 100%;
          border-bottom: 1px solid #ebebeb;
			
          &.loading {
            height: 60px;
            position: relative;
            .loader-overlay {
              background: none;
              .cssload-thecube {
                margin-top: 12px;
                transform: rotateZ(45deg) scale(0.5);
                -o-transform: rotateZ(45deg) scale(0.5);
                -ms-transform: rotateZ(45deg) scale(0.5);
                -webkit-transform: rotateZ(45deg) scale(0.5);
                -moz-transform: rotateZ(45deg) scale(0.5);
              }
            }
          }
          &:not(.disabled){
            cursor: pointer;
          }
          &.disabled {
            .cell.check-opportunity {
              color: #999;
              &:before {
                content: "\2601";
              }
            }
          }
          .cell {
            display: table-cell;
            vertical-align: middle;
            padding: 0px 10px;
            height: 60px;
            float: none !important;
            &.opportunity-name {
              span.wrap-text {
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                width: 100%;
                white-space: nowrap;
              }
            }
            .info-two-lines {
              margin-top: -3px;
              display: block;
            }
            label {
              font-weight: 400;
              color: #666;
              margin-bottom: 0px;
              display: block;
              &.notificating {
                display: table;
                width: 100%;
                small {
                  display: table-cell;
                  text-align: center;
                  padding: 0px;
                  &:last-of-type {
                    text-align: right;
                  }
                  &:first-of-type {
                    text-align: left;
                  }
                }
              }
            }
            .process-bar {
              $height-process-bar: 10px;
              height: $height-process-bar;
              border-radius: 6px;
              background: #fff;
              overflow: hidden;
              margin-top: 4px;
              .bar {
                height: $height-process-bar;
                background: $blue;
                display: block;
                transition: .5s;
              }
            }
            &.check-opportunity {
              text-align: center;
              font-size: 20px;
              font-family: 'Glyphicons Halflings';
              padding-right: 0px;
              color: #f2f2f2;
              &:before {
                content:'\e013';
              }
            }
          }
          
          &.checked {
            background: $blue;
            .cell {
              &, label {
                color: #fff; 
              }             
              &.check-opportunity:before {
                color: #fff;
              }
            }
          }
        }
      }

      .success-msg {
        display: table;
        margin: 0 auto;
				margin-top:40px;
        width: 380px;
        height: 90px;
        
        .icon, .msg {
          display: table-cell;
          line-height: initial;
          vertical-align: middle;
        }

        .icon {
          width: 90px;
          padding-right: 20px;
          span {
            width: 70px;
            border: 3px solid $blue;
            border-radius: 100%;
            display: inline-block;
            height: 70px;
            line-height: 64px;
            text-align: center;
            font-size: 2.2em;
            color: $blue;
          }
          &.loading {
            span {
              border-color: #d4d4d4;
              color: #2b2b2b;
              &::before {
                animation: loading-custom 0.8s infinite linear both;
                -o-animation: loading-custom 0.8s infinite linear both;
                -ms-animation: loading-custom 0.8s infinite linear both;
                -webkit-animation: loading-custom 0.8s infinite linear both;
                -moz-animation: loading-custom 0.8s infinite linear both;
              }
            }
          }
        }

        .msg h3 {
          font-family: $slab;
          font-weight: 800;
          margin: 3px 0px 5px;
        }
        .msg p {
          margin-bottom: 0px;
        }

      }

    }

    .button-area {
			padding-top:40px;
      text-align: center;

      button {
        display: inline-block;
        text-align: center;
        height: 44px;
        font-family: "Roboto Slab", serif;
        font-size: .9em;
        padding: 0px;
        &.prev {
          background: none;
          border: 0px;
          color: $grey;
          width: 100px;
        }
        &.next {
          padding-left: 10px;
          padding-right: 10px;
          background: $blue;
          box-shadow: 0px 4px 0px $blue-dark;
          border-radius: 6px;
          border: 0px;
          color: #fff;
          font-weight: 700;
          &[disabled] {
            opacity: .5;
          }
        }
      }
      
    }

    .info-notify-items {
      margin-left: -2px;
      margin-right: -2px;
      display: table;
      .info-item {
        float: left;
        width: 20%;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        background: #f2f2f2;
        height: 110px;
        text-align: center;
        padding: 14px 20px;
        line-height: 12px;
        &.sending {
          background: $blue;
          color: #fff;
        }
        strong {
          font-family: $slab;
          font-size: 1.7em;
          margin-bottom: 8px;
          display: block;
          margin-top: 17px;
          line-height: 18px;
          height: 18px;
        }
        p {
          font-size: .8em;
        }
      }
    }

    .list-credits {
      .row-list {
        display: table;
        height: 40px;
        background: #fff;
        width: 100%;
        &:nth-child(2n){
          background: #f7f7f7;
        }
        .cell {
          vertical-align: middle;
          display: table-cell;
          padding: 0px 10px;
          border-top: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          &.value {
            width: 60px;
          }
        }
      }
    }

    .row-resume {
      display: table;
      margin-bottom: 20px;
      .cell {
        display: table-cell;
        vertical-align: top;
        &.number {
          width: 30px;
          small {
            background: $yellow-color;
            text-align: center;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            display: block;
            font-size: .7em;
            line-height: 18px;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }

  }
}

@keyframes loading-custom {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}