.apply-modal {
	
	.cdb-modal-header {
	  background: #F1F1F1;
	}
	
	.cdb-modal-body {
	  background: #fff;
		padding:20px 0;
	}
	
	.cdb-modal-inner {
	  width: 900px;
	
	  .bar-candidate {
	    label {
        display: block;
        font-weight: lighter;
        font-size: 0.8em;
        color: $lead-color;
        margin-bottom: 0px;
      }
    
      font-family: "Roboto Slab", sans-serif;
      font-size: 1em;
      color: #3b3b3b;
      span {
        color: $salmon;
        font-weight: bold;
      }
	  }
		
    .salary-c {
      display: block;
      font-size: 1.6em;
      font-weight: bold;
      font-family: $slab;
      margin-bottom: 20px;
      .currency {
        color: #999999;
        font-weight: normal;
      }
    }
    .rating-c {
      font-size: 1.4em;
      color: $salmon;
      margin-bottom: 15px;
    }
    .block-inset {
      .item {
        &.answer {
          margin-bottom: 30px;
          margin-top: 3px;
        }
        margin-top: 10px;
      }
    }

    .avatar {
      max-width: 150px;
      width: 100%;
      border-radius:50%;
      border:3px solid #eee;
      margin-top: 20px;
    }

    .notes-c {
      padding: 0px;
      float: left; width: 100%;
      li {
        float: left;
        padding: 0px 20px;
        height: 50px; line-height: 50px;
        background: #fcf5aa;
        list-style: none;
        margin-right: 10px;
        margin-bottom: 10px;
        clear: both;
      }
    }

	  .glyphicon-remove {
	     position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1em;
      cursor: pointer;
      z-index: 9999999;
	  }
	}

  &.favorite {
    background: #F1FBFB;
    .tag {
      background: $white;
    }
  }

    .left-bar {
      text-align: center;
      z-index: 1;
      font-size: 0.95em;
    
    .button-favorite {
      @include trampos-button($grey-color, #FFF, 4px);
      width:120px;
      height:45px;
      padding-bottom:2px;
      font-size: 1em;
      font-weight:300;
      margin: 20px auto 10px;
      &.active {
        background-color:$blue;
        box-shadow: inset 0 4px 0 darken($blue, 8%);
      }
    }
    
    .basic-info {
      padding: 0px 40px 0 40px;
      h3 {
        font-weight: bold;
        font-size: 1em;
        text-align: left;
        margin-top:0px;
        margin-left:8px;
        margin-bottom: 5px;
      }
      a.item {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .avatar {
      max-width: 170px;
      width: 100%;
    }
    
    .info-c {
      width:100%;
      display:table;
      table-layout:fixed;
      text-align: left;
      margin: 6px 0px;
      font-size: 1em;
      
      .cell {
        display: table-cell;
        vertical-align: top;

        &.disabled {
          color: #999999;
        }
        
        &:last-child { 
          font-size: 1em;
        }

        &.glyphicon {
          width:40px; 
          text-align:center;
          font-size: 1em;
          color: #999;
          padding-top:4px;
          padding-right:5px;
          top: 0px;
        }
      }

      a {
        color: $black-color;
        text-decoration: underline;
      }

      &.email-c {

        a.email-link {
          display:block;
          width:100%;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        &:hover {
          span:last-child {
            white-space: nowrap;
            a.email-link {
              text-overflow: initial;
              overflow: initial;
              background: #fff;
              display: inline-block;
              width: auto;
              margin-top: -7px;
              margin-bottom: -7px;
              padding: 7px 20px 7px 0px;
            }
          }
        }

      }
    }
    
    .otherinfo-c {
      background: $white;
      border-radius: 8px;
      margin-top: 10px;
      padding: 5px;
      text-align: left;
      &.attachments {
        padding-top: 0px;
      }
      .block {
        
        hr {
          margin: 10px 0px;
          &:last-child {
            display: none;
          }
        }
        &:not(:first-child){
          margin-top: 10px;
        }
        
        .item {
          
          &.company-apply {
            b, strong {
              color: #2b2b2b;
            }
          }
          &:not(.company-apply):hover {
            b, strong {
              color: $salmon;
            }
            .oppRow {
              color: $salmon-dark;
            }
            .arrow {
              color: #5b5b5b;
            }
          }
          & > * {
            transition: 0.5s;
          }
          &.pointer {
            cursor: pointer;
          }
          
          .source-title {
            font-size: 1em;
            font-weight:400;
          }
          
          .title-opportunity {
            display: table;
            width: 100%;
            margin-bottom:5px;
            
            b, strong {
              color: $blue;
              padding-right: 20px;
              display: table-cell;
              vertical-align: top;
            }
            .arrow {
              width: 20px;
              display: table-cell;
              color: #ccc;
              vertical-align: top;
              text-align:right;
              padding-top:1px;
              margin-right:-2px;
            }
          }
          
          .oppRow {
            display: table;
            width: 100%;
            margin-top: 0px;
            color: #2b2b2b;
            height: 20px;
            span {
              display: table-cell;
              font-size: 1em;
              &.created_at {
                width: 76px;
                padding-right: 5px;
              }
              &.rating {
                width: 30px;
                padding-right: 5px;
                i {
                  position: relative;
                  top: 2px;
                }
              }
              &.status {
                
                text-align: right;
                text-transform: uppercase;
              }
            }
          }       
        }
      }
    }
  }
	.right-bar {
		.full-info {
			padding-right: 50px;
		}
    overflow-x: hidden;
	}

  .favoriteArea {
    height: 30px;
    position: relative;
    font-size: 1em;
    color: $blue;
    font-weight: bold;
    font-family: $slab;
    margin-bottom: 10px;
    span.glyphicon {
      font-size: 1em;
    }
    & > span {
      position: relative;
      top: 0px;
      animation: favorite 1s;
      -o-animation: favorite 1s;
      -ms-animation: favorite 1s;
      -webkit-animation: favorite 1s;
      -moz-animation: favorite 1s;
    }
  }

  .name-c {
    font-size: 2em;
    color: $salmon;
    font-family: $slab;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .profissao-c {
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 15px;
    line-height: 1.3em;
  }
  .block-inset {
    margin-top: 15px;
    font-size: 1em;
    b, strong {
      display: block;
      font-weight: 600;
    }
    .tag {
      display: inline-block;
      padding: 0px 5px; height: 26px; line-height: 24px;
      border: 1px solid; margin: 10px 5px 0px 0px;
      border-radius: 4px;
      &.salmon {
        border-color: $salmon;
        color: $salmon;
      }
      &.green {
        border-color: $green-color;
        color: $green-color;
      }
      &.orange {
        border-color: $orange;
        color: $orange;
      }
      &.yellow {
        border-color: $yellow-color;
        color: $yellow-color;
      }
    }
    a {
      text-decoration: underline;
      margin-top: 8px;
      display: inline-block;
      cursor: pointer;
    }
  }
  .atualizado {
    margin-top: 14px;
  }
}