.cdb-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999999;
  transition: 0.2s;
  animation: modalView 0.2s;
  -o-animation: modalView 0.2s;
  -ms-animation: modalView 0.2s;
  -webkit-animation: modalView 0.2s;
  -moz-animation: modalView 0.2s;
  font-size: 1.1em;
  overflow-y: scroll;
  overflow-x: hidden;
  
  .cdb-modal-inner {
    display: table;
    table-layout: fixed;
    width:760px;
    margin:30px auto;
    
    .cdb-modal-container {
      display: table-cell;
      vertical-align: middle;
      
      .cdb-modal-header {
        position: relative;
        overflow:hidden;
        width: 100%;
        padding: 15px 20px 15px 40px;
        height: 62px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      
      .cdb-modal-body {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow:hidden;
      }
    }
  }
}

@keyframes modalView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes modalView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes modalView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes modalView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes modalView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
