<div class="cdb-modal apply-modal">
	<div class="cdb-modal-inner">
	  <div class="cdb-modal-container">
			
			<div class="cdb-modal-header">
				<div class="header bar-candidate">
					{{#if model.apply}}
					  <label>{{moment-format model.apply.created_at 'DD/MM/YYYY'}}</label>
	    			<b>{{model.candidate.name}}</b> candidatou-se à vaga de <span>{{model.apply.opportunity.name}}</span>.
    			{{else}}
    				<label></label>
	    			<b>Carregando...</b>
    			{{/if}}
    			<i {{action 'closeModal'}} class="glyphicon glyphicon-remove"></i>
				</div>
			</div>
			
			<div class="cdb-modal-body">
				<div class="row">
					{{#if model.apply}}
				  <div class="col-xs-4 left-bar">
				    <div class="col-xs-12 basic-info">
				      <img src="{{model.candidate.avatar}}" class="avatar" width="140" />
				      <div class="col-xs-12 otherinfo-c">
				        <div class="info-c placement-c">
				          <span class="cell glyphicon glyphicon-map-marker"></span>
				          <span class="cell {{unless model.candidate.address 'disabled'}}">
				          	{{#if model.candidate.address}}
				              {{model.candidate.address}}
				              {{#if model.candidate.distance}}
				                {{#if (lt candidate.distance 1000)}}
				                  <br/>
				                  ({{format-number value=model.candidate.distance n=2}}km)
				                {{/if}}
				              {{/if}}
				            {{else}}
				              Não informado
				            {{/if}}
				          </span>
				        </div>
				        <div class="info-c age-c">
				          <span class="cell glyphicon glyphicon-gift"></span> 
									<span class="cell {{unless model.candidate.age 'disabled'}}">{{if model.candidate.age model.candidate.age 'Não informado'}} anos</span>
				        </div>
				        <div class="info-c phone-c">
				          <span class="cell glyphicon glyphicon-phone-alt"></span> 
										{{#if (format-telephone model.candidate.telephone)}}
				              <span class="cell">{{format-telephone model.candidate.telephone}}</span>
				            {{else}}
				              <span class="cell disabled">Não informado</span>
				            {{/if}}
				        </div>
				        <div class="info-c phone-c">
				          <span class="cell glyphicon glyphicon-earphone"></span> 
										{{#if (format-telephone model.candidate.cellphone)}}
				              <span class="cell">{{format-telephone model.candidate.cellphone}}</span>
				            {{else}}
				              <span class="cell disabled">Não informado</span>
				            {{/if}}
				        </div>
				        <div class="info-c email-c">
				          <span class="cell glyphicon glyphicon-envelope"></span> 
									<span class="cell"><a href="mailto:{{model.candidate.email}}" class="email-link">{{model.candidate.email}}</a></span>
				        </div>
				        <div class="info-c profile-c">
				          <span class="cell glyphicon glyphicon-list"></span> 
									<span class="cell"><a href="//trampos.co/{{model.candidate.slug}}" target="_blank">Perfil</a></span>
				        </div>
				      </div>
				    </div>
				    {{#if (or model.apply.portfolio_link model.apply.cv_link)}}
						<div class="col-xs-12 basic-info">
				      <div class="col-xs-12 otherinfo-c attachments">
				      	<h3>Anexos</h3>
				      	{{#if model.apply.portfolio_link}}
						      <div class="info-c profile-c">
				            <span class="cell glyphicon glyphicon-save"></span> <span class="cell"><a href="{{model.apply.portfolio_link}}" target="_blank">Portfólio</a></span>
				          </div>
			          {{/if}}
			          {{#if model.apply.cv_link}}
				          <div class="info-c profile-c">
				            <span class="cell glyphicon glyphicon-save"></span> <span class="cell"><a href="{{model.apply.cv_link}}" target="_blank">Curriculo</a></span>
				          </div>
			          {{/if}}
		          </div>
				    </div>
				    {{/if}}
				  </div>
				  <div class="col-xs-8 right-bar">
						<div class="full-info">
						{{!--<h4 class="favoriteArea">
					      {{#if favorite}}
					      <span><span class="glyphicon glyphicon-star"></span> Favoritos</span>
					      {{/if}}
					    </h4> --}}
					    <h2 class="name-c">{{model.candidate.name}} {{model.candidate.lastname}}</h2>
					    <h3 class="profissao-c">{{model.candidate.subtitle}}</h3>
					    {{#if model.apply.rating}}
				        <div class="rating-c">
				          {{rating-stars rating=model.apply.rating}}
				        </div>
				      {{/if}}
					    <div class="block-inset">
					    	<b>Pretensão salarial</b>
					    	<div class="salary-c">
				          <span>{{format-number value=model.apply.salary}}</span>
				          <small class="currency">reais</small>
				        </div>
					    </div>
				      {{#if model.apply.cover_letter}}
				        <div class="presentation-c">
				          {{format-nl2br model.apply.cover_letter}}
				        </div>
				      {{/if}}
				      {{#if model.apply.answers}}
				        <div class="block-inset">
				          <b>Respostas</b>
				          {{#each model.apply.answers as |data idx|}}
				            <div class="item"><b>{{plus-number a=idx b=1}} - {{data.question}}</b></div>
				            <div class="item answer">{{data.answer}}</div>
				          {{/each}}
				        </div>
				      {{/if}}
				      {{#if model.apply.notes}}
				        <ul class="notes-c">
				          {{#each model.apply.notes as |note|}}
				            <li>
				              {{note.body}}
				            </li>
				          {{/each}}
				        </ul>
				      {{/if}}
						</div>
				  </div>
					{{else}}
					<div class="col-xs-12 loader-wrapper">
						{{loader-overlay}}
					</div>
					{{/if}}
				</div>
			</div>			
    </div>
	</div>
</div>
