<div class="cdb-modal apply-modal">
	<div class="cdb-modal-inner">
	  <div class="cdb-modal-container">

			<div class="cdb-modal-header">
				<div class="header bar-candidate">
				  <label>
				  	{{moment-format model.candidate.sources.company_apply.created_at 'DD/MM/YYYY'}}
				  </label>
				  			<b>{{model.candidate.name}}</b> registrou interesse. <i {{action 'closeModal'}} class="glyphicon glyphicon-remove"></i>
				</div>
			</div>
			
			<div class="cdb-modal-body">
				<div class="row">
				  <div class="col-xs-4 left-bar">
				    <div class="col-xs-12 basic-info">
				      <img src="{{model.candidate.avatar}}" class="avatar" width="140" />
				      <div class="col-xs-12 otherinfo-c">
				        <div class="info-c placement-c">
				          <span class="cell glyphicon glyphicon-map-marker"></span>
				          <span class="cell {{unless model.candidate.address 'disabled'}}">
				          	{{#if model.candidate.address}}
				              {{model.candidate.address}}
				              {{#if model.candidate.distance}}
				                {{#if (lt candidate.distance 1000)}}
				                  <br/>
				                  ({{format-number value=model.candidate.distance n=2}}km)
				                {{/if}}
				              {{/if}}
				            {{else}}
				              Não informado
				            {{/if}}
				          </span>
				        </div>
				        <div class="info-c age-c">
				          <span class="cell glyphicon glyphicon-gift"></span> 
									<span class="cell {{unless model.candidate.age 'disabled'}}">{{if model.candidate.age model.candidate.age 'Não informado'}} anos</span>
				        </div>
				        <div class="info-c phone-c">
				          <span class="cell glyphicon glyphicon-phone-alt"></span> 
										{{#if (format-telephone model.candidate.telephone)}}
				              <span class="cell">{{format-telephone model.candidate.telephone}}</span>
				            {{else}}
				              <span class="cell disabled">Não informado</span>
				            {{/if}}
				        </div>
				        <div class="info-c phone-c">
				          <span class="cell glyphicon glyphicon-earphone"></span> 
										{{#if (format-telephone model.candidate.cellphone)}}
				              <span class="cell">{{format-telephone model.candidate.cellphone}}</span>
				            {{else}}
				              <span class="cell disabled">Não informado</span>
				            {{/if}}
				        </div>
				        <div class="info-c email-c">
				          <span class="cell glyphicon glyphicon-envelope"></span> 
									<span class="cell"><a href="mailto:{{model.candidate.email}}" class="email-link">{{model.candidate.email}}</a></span>
				        </div>
				        <div class="info-c profile-c">
				          <span class="cell glyphicon glyphicon-list"></span> 
									<span class="cell"><a href="//trampos.co/{{model.candidate.slug}}" target="_blank">Perfil</a></span>
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="col-xs-8 right-bar">
						<div class="full-info">
						{{!--<h4 class="favoriteArea">
 					      {{#if favorite}}
					      <span><span class="glyphicon glyphicon-star"></span> Favoritos</span>
					      {{/if}}
					    </h4> --}}
					    <h2 class="name-c">{{model.candidate.name}} {{model.candidate.lastname}}</h2>
					    <h3 class="profissao-c">{{model.candidate.subtitle}}</h3>

					    <h4 class="title-company-apply-c">
					    	<strong>{{model.candidate.name}} registrou interesse no dia {{moment-format model.candidate.sources.company_apply.created_at 'DD/MM/YYYY'}}.</strong>
					    </h4>

			        {{#if model.candidate.sources.company_apply.presentation_letter}}
				        <div class="presentation-c">
				          {{format-nl2br model.candidate.sources.company_apply.presentation_letter}}
				        </div>
			        {{/if}}

						</div>
					</div>
			  </div>
			</div>
    </div>
	</div>
</div>
