.section-tabs {
  ul.tabs {
    width: 100%;
    padding: 0px;
    float: left;
    height: 60px;
    margin: 0px;
    li {
      list-style: none;
      float: left;
      width: 25%;
      .glyphicon {
        position: relative;
        top: 3px;
      }
      a {
        height: 60px;
        line-height: 60px;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
        background: #1F121A;
        color: #DDDCDD;
        text-decoration: none;
        &.active {
          background: #2D1F28;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
