.section-content {
  background: $white;
  position: relative;
  min-height: 500px;
  & > .container > .row {
    position: relative;
  }
  .pagination {
    margin: 0px;
    text-align: right;
    &.centered {
      text-align: center;
    }
    .btn {
      background: $grey-lighter;
      color: $grey;
      border-radius: 6px;
      font-weight: bold;
      font-size: 16px;
      width: 34px;
      height: 34px;
      line-height: 33px;
      padding: 0px;
      border: 0px;
      span.glyphicon {
        font-size: 12px;
        line-height: 33px;
      }
      &.btn-success {
        background: $blue;
        color: $white;
        border: 0px;
      }
    }
  }

  .results-list { 
    padding-right:2px;
    padding-left: 0px;
    .ordenation-box {
      padding-top: 30px;
      &.bottom {
        padding-bottom: 30px;
        border-bottom: 0px;
      }
      border-bottom: 2px solid #fff;
      background: $grey-lighter;
      select {
        width: 100%;
        @extend .input-format;
        @extend .boxshadow;
      }
      .control-label {
        padding-top: 0px;
        line-height: 35px;
        padding-right: 0px;
        font-weight: 400;
        font-size: 1em;
      }
    }
  }
  
  .results-header {
    margin-top: 30px;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .notify-box {
      text-align: right;
      line-height: 34px;

      .notify-button {
        display: inline-block;
        text-align: center;
        height: 34px;
        font-size: 1.2em;
        padding: 0px 20px;;
        background: $blue;
        box-shadow: 0px 4px 0px $blue-dark;
        border-radius: 6px;
        border: 0px;
        color: #fff;
        font-weight: 700;
        font-family: $slab;
        margin-left: 16px;
        &.print-button {
          background: lighten($grey, 30);
          color: darken($grey, 20);
          box-shadow: 0px 4px 0px lighten($grey, 20);
          text-decoration: none;
        }
        &[disabled]{
          opacity: 0.6;
        }
      }

      label {
        font-weight: 400;
        font-size: 1em;
      }
    }
    .number {
      font-family: $slab;
      font-size: 20px;
      line-height: 34px;
    }
    select {
      @extend .input-format;
      background: $grey-lighter !important;
      font-size: 14px;
      margin-bottom: 0px;
    }
  }

  .results-body {
    display: table;
    padding: 0px;
    width: 100%;
    margin-bottom: 50px;

    & > .row {
      display: table;
      margin: 0px;
      width: 100%;
      table-layout: fixed;
    }

    .results-facets,
    .results-list,
    .hack-padding {
      display: table-cell;
      float: none !important;
      vertical-align: top;
    }
    .hack-padding {
      width: 15px;
    }
  }

  .results-facets {
    background: #f1f1f1; 
    padding: 0px 15px;
    width: 25%;
    .salary-range {
      display: table;
      width: 100%;
      margin: 0px;
      .cols {
        display: table-cell;
        vertical-align: middle;
        float: none;
        padding: 0px;
        &:nth-child(3) {
          padding-left: 16px;
          width: 52px;
        }
        &.label-cols {
          text-align: left;
          padding-right: 2px;
        }
        &.input-cols {
          select {
            margin-bottom: 0px;
            width: 100%;
          }
        }
      }
    }

    .block-facets {
      padding: 20px 0px;
      border-bottom: 1px solid $white;

      .facet-title { display:block; margin-bottom:10px; }

      .facet-list {
        list-style-type: none;
        padding: 0px;
        margin-bottom: 0px;

        .irs {
          margin-bottom: 20px;
        }

        &.check-style {
          .check-facet {
            display:table;
            table-layout:fixed;
            width:100%;
            padding-bottom:10px;
            margin-bottom:10px;
            border-bottom:1px solid rgba(0,0,0,0.05);
            font-weight:400;

            &:last-of-type { border-bottom:0; }

            .check-facet-checkbox,
            .check-facet-label,
            .check-facet-count { display:table-cell; vertical-align:middle; }

            .check-facet-checkbox {
              width:30px;

              .checkbox-field {
                width:22px;
                height:22px;
                border-radius: 100%;
                &:before {
                  content:'';
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  background: transparent;
                  top: 6px;
                  left: 6px;
                  border-radius: 100%;
                }
                &.checked:before {
                  background: $blue;
                }
              }
            }

            .check-facet-count {
              text-align:right;
              width:50px;
              .count {
                min-width:30px;
                display:inline-block;
                text-align:center;
                background-color:rgba(255,255,255,0.9);
                padding:0px 4px;
                line-height: 16px;
                border-radius:4px;
                color:#333;
                margin-left:5px;
              }
            }

            .check-facet-label {
              &.selected {
                color:$blue;
              }
            }
          }
        }

        &.check-style.opportunity-facets {
          .check-facet {
            padding:0 0 14px 0;
            .facet-info {
              display:table;
              width:100%;
              font-size:.9em;
              .facet-info-item { display:table-cell; width:50%; }
            }
          }
        }

        &.tag-style {

          .checkbox-field {
            width:auto;
            height:auto;
            margin:0 7px 7px 0;
            padding: 1px 5px 3px 10px;
            background: $grey;
            border-radius: 6px;
            font-weight: normal;
            color: $white;
            cursor: pointer;

            &:before { content: ''; }

            &:hover {
              background: $white;
              color: $black-color;
            }

            .count {
              background-color:rgba(255,255,255,0.7);
              display:inline-block;
              vertical-align:text-middle;
              padding:0px 4px;
              line-height: 16px;
              border-radius:4px;
              color:#333;
              margin-left:5px;
            }
          }
        }
      }
      &.disp {
        .checkbox-field.checked {
          background: $blue;
        }
      }
      &.gen {
        .checkbox-field.checked {
          background: $green-color;
        }
      }
      &.esp {
        .checkbox-field.checked {
          background: $salmon;
        }
      }
      &.lang {
        .checkbox-field.checked {
          display: block;
          margin: 35px 0px 5px;
          background: $blue;
          .facet-list {
            display: block;
            margin: 10px 0px;
          }
        }
        .irs-slider.single {
          z-index: 3;
        }
        .irs {
          margin-bottom: 30px;
          span.irs-grid {
            top: 16px;
            .irs-grid-text, .irs-grid-pol.small {
              display: none;
            }
            .irs-grid-pol {
              width: 6px;
              height: 6px;
              background: #fff;
              border-radius: 100%;
            }
          }
          .irs-line-left {
            background: $white;
          }
          .irs-line-mid {
            background: $blue;
          }
          .irs-line-right {
            background: $blue;
          }
          .irs-bar {
            background: $white;
          }
        }
        span.irs-min, span.irs-max {
          background: $grey;
          color: $white;
          opacity: .7;
          // display: none;
        }
        span.irs-from,
        span.irs-to,
        span.irs-single {
          // display: none;
          top: 34px;
          background: $blue;
          font-size:11px;
          font-weight: bold;
        }
        .irs-line {
          line-height: 11px;
          i {
            cursor: pointer;
            display: inline-block;
            width: 6px;
            height: 6px;
            background: $white;
            border-radius: 100%;
            margin: 0px 26px;
            @media screen and (max-width: 1199px){
              margin: 0px 20.25px;
            }
            position: relative;
            z-index: 1;
            &:first-child {
              margin-left: 11px;
            }
            &:nth-child(5) {
              margin-right: 0px;
            }
          }
        }
        .irs-bar {
          overflow: hidden;
          white-space: nowrap;
          line-height: 11px;
          z-index: 2;
          i {
            cursor: pointer;
            display: inline-block;
            width: 6px;
            height: 6px;
            background: $blue;
            border-radius: 100%;
            margin: 0px 26px;
            @media screen and (max-width: 1199px){
              margin: 0px 20.25px;
            }
            &:first-child {
              margin-left: 0px;
            }
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        .irs-single.last {
          left: 65% !important;
        }
      }
      &.hab {
        .checkbox-field.checked {
          background: $orange;
        }
      }
      a.viewmore {
        display:block;
        cursor: pointer;
      }
    }
  }
}
