.section-form {
  background: $purple-light;
  padding: 32px 0px 20px;

  .select-field {
    height:42px;
    background-color:$green-color;
    border:0;
    color: $black-color;
    margin:0;

    .select-selected {
      font-size:1.2em;
      font-weight:300;
      font-style:italic;
    }
  }

  .em {
    display:block;
    text-align:center;
    font-size:1.2em;
    font-style:italic;
    line-height:42px;
  }

  ::-webkit-input-placeholder {
    color: $grey-color;
    font-weight:300;
    font-style:italic;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $grey-color;
    font-weight:300;
    font-style:italic;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $grey-color;
    font-weight:300;
    font-style:italic;
  }

  :-ms-input-placeholder {
    color: $grey-color;
    font-weight:300;
    font-style:italic;
  }

  .checkbox-field {
    padding-left: 0px !important;
    .checkFavorite {
        float: left;
        width: 45px;
        height: 35px;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 23px;
        font-size: 22px;
        line-height: 37px;
        text-align: center;
        color: #54C4C8;
    }
    & > span {
      float: left;
      width: calc(100% - 55px);
      margin-left: 10px;
      color: #fff;
      line-height: 12px;
      font-size: 12px;
      margin-top: 34px;
    }
  }

  .query-input {
    width: 100%;
    input {
      width: 100%;
      @extend .input-format;
      @extend .boxshadow;
    }
  }
  .filters-search {
    margin-top: 0px;
    .form-group {
      padding: 0px 6px 4px;
      .label-input {
        display: block;
        color: $white;
      }
      select {
        width: 100%;
        @extend .boxshadow;
        @extend .input-format;
      }
      .search-button {
        border: 0px;
        outline: none;
        display: block;
        @extend .input-format;
        @extend .boxshadow;
        width: 100%;
        font-family: $slab;
        font-size: 16px;
        font-weight: bold;
        color: $white;
        background: $salmon !important;
        box-shadow: 0px 3px 0px $salmon-dark !important;
      }
    }

    .favorite-check {
      display: table;
      button.checkbox-field {
        @extend .radius;
        @extend .boxshadow;
        height: 36px;
        text-align: center;
        width: 46px;
        display: table-cell;
        &:before {
          line-height: 36px;
          position: initial;
          font-size: 20px;
        }
      }
      span {
        display: table-cell;
        color: #fff;
        vertical-align: middle;
        padding-left: 8px;
        font-weight: normal;
      }
    }
  }
}
