{{#with options as |availabilities|}}
  <div class="block-facets disp">
    <strong class="facet-title">Disponibilidade</strong>
    {{#facet-list content=availabilities class="tag-style" as |item|}}
      {{#checkbox-field checked=item.selected action="change"}}
        {{t (concat "availabilities." item.value)}}
        <small class="count">
          {{format-number value=item.count n=0}}
        </small>
      {{/checkbox-field}}
    {{/facet-list}}
  </div>
{{/with}}
