{{#if sortedOptions}}
  <div class="block-facets">
    <strong class="facet-title">Favoritos por:</strong>
    {{#facet-list viewMore='viewMore' hideMore='hideMore' class="check-style" content=sortedOptions as |item|}}
      <label class="check-facet">
        <div class="check-facet-checkbox">
          {{checkbox-field checked=item.selected action="change"}}
        </div>
        <div class="check-facet-label {{if item.selected 'selected'}}">
          {{#if (eq item.id recruiter.id)}}
            mim
          {{else}}
            {{item.name}}
          {{/if}}
        </div>
        <div class="check-facet-count">
          <small class="count">{{format-number value=item.count n=0}}</small>
        </div>
      </label>
    {{/facet-list}}
  </div>
{{/if}}
