{{#with options as |fields_of_work|}}
  <div class="block-facets esp">
    <strong class="facet-title">Especialidades</strong>
    {{#facet-list viewMore='viewMore' hideMore='hideMore' content=fields_of_work class="tag-style" as |item|}}
      {{#checkbox-field checked=item.selected action="change"}}
        {{t (concat "field_of_works." item.value)}}
        <small class="count">
          {{format-number value=item.count n=0}}
        </small>
      {{/checkbox-field}}
    {{/facet-list}}
  </div>
{{/with}}
