{{#with options as |genders|}}
  <div class="block-facets gen">
    <strong class="facet-title">Sexo</strong>
    {{#facet-list content=genders class="tag-style" as |item|}}
      {{#checkbox-field checked=item.selected action="change"}}
        {{t (concat "genders." item.value)}}
        <small class="count">
          {{format-number value=item.count n=0}}
        </small>
      {{/checkbox-field}}
    {{/facet-list}}
  </div>
{{/with}}
