{{#if sortedOptions}}
  <div class="block-facets lang">
    <strong class="facet-title">Idiomas</strong>
    {{#facet-list content=sortedOptions class="tag-style" as |item index|}}
      {{#checkbox-field checked=item.selected action="change"}}
        {{language-name-from-value item.languageName}}
        {{#if item.selected}}
          {{t (concat "language_levels." item.selectedLevel.value)}}
          <small class="count">
            {{item.countForSelectedLevel}}
          </small>
        {{else}}
          <small class="count">
            {{format-number value=item.count n=0}}
          </small>
        {{/if}}
      {{/checkbox-field}}
      {{#if item.selected}}
        {{language-level levelOptions=item.languageLevels selectedIndex=item.selectedLevelIndex changed="change"}}
      {{else}}
      {{/if}}
    {{/facet-list}}
  </div>
{{/if}}
