{{#with options as |opportunities|}}
  <div class="block-facets">
    <strong class="facet-title">Trampos</strong>
    {{#facet-list viewMore='viewMore' hideMore='hideMore' class="check-style opportunity-facets" content=opportunities visibleItems=3 as |item|}}
      <label class="check-facet">
        <div class="check-facet-checkbox">
          {{checkbox-field checked=item.selected action="change"}}
        </div>
        <div class="check-facet-label {{if item.selected 'selected'}}">
          <strong class="facet-name">{{item.value.name}}</strong>
          <div class="facet-info">
            <span class="facet-info-item">{{moment-from-now item.value.published_at hideSuffix=true}}</span>
            <span class="facet-info-item"><strong>ID:</strong> {{item.value.id}}</span>
          </div>
        </div>
        <div class="check-facet-count">
          <small class="count">{{format-number value=item.count n=0}}</small>
        </div>
      </label>
    {{/facet-list}}
  </div>
{{/with}}
