{{#with options as |salaries|}}
  <div class="block-facets">
    <strong class="facet-title">Pretensão salarial</strong>
    {{salary-range-filter ranges=options salaryRangeValue=salaryRangeValue change="change"}}
  </div>
{{/with}}
