<div class="block-facets hab">
  <strong class="facet-title">Habilidades</strong>
  <div class="search-skill-box">
    <span class="glyphicon glyphicon-search"></span>
    {{input type="search" placeholder="Buscar habilidade" class="skill-search" value=optionsSearchValue}}
  </div>
  {{#with optionsActive as |skills|}}
    {{#skill-list viewMore='viewMore' hideMore='hideMore' content=skills class="tag-style" as |item|}}
        {{#checkbox-field checked=item.selected action="change"}}
          {{item.value}}
          <small class="count">
            {{format-number value=item.count n=0}}
          </small>
        {{/checkbox-field}}
    {{/skill-list}}
  {{/with}}
  {{#with optionsFiltered as |skills|}}
    {{#facet-list viewMore='viewMore' hideMore='hideMore' content=skills class="tag-style" as |item|}}
        {{#checkbox-field checked=item.selected action="change"}}
          {{item.value}}
          <small class="count">
            {{format-number value=item.count n=0}}
          </small>
        {{/checkbox-field}}
    {{/facet-list}}
  {{/with}}
  {{#unless optionsFiltered}}
    <div class="msg-error-search">
      Não há resultados para o termo "{{optionsSearchValue}}"
    </div>
  {{/unless}}
</div>
