{{#if (eq currentStep 0)}}
	{{notify/steps/opportunities-step opportunities=availableOpportunities next="nextStep" close="closeModal"}}
{{/if}}

{{#if (eq currentStep 1)}}
	{{notify/steps/form-step opportunities=selectedOpportunities back="previousStep" submit="saveAlert" close="closeModal"}}
{{/if}}

{{#if (eq currentStep 2)}}
	{{notify/steps/success-step request=saveAlertRequest close="closeModal"}}
{{/if}}